<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B785C2ED1CFC0F5B0084F801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B785C3011CFC0F5B0084F801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B785C30C1CFC0F5B0084F801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
